[run]
branch = True
omit = \
    src/framework/tests/*
    src/main/app.py
    tests/*
relative_files = True
source = src


[report]
fail_under = 50
skip_covered = False
skip_empty = True
sort = -Cover


[html]
skip_covered = False
skip_empty = True
title = Alpha
