**/*.secrets.*
**/*Dockerfile*
**/.coverage
**/.gitignore
**/__pycache__/
.dockerignore
.garbage/
.git/
.gitattributes
.github/
.idea/
.run/
.venv/
.vscode/
docker-compose.yml
heroku.Dockerfile
heroku.yml
tmp/
TODO.md
venv/
