**/__pycache__/
*.secrets.*
.coverage
.git/
.gitattributes
.github/
.gitignore
.idea/
.isort.cfg
.mypy_cache/
.pytest_cache/
.run/
.venv/
.vscode/
coverage.xml
docker-compose.yml
Dockerfile
htmlcov/
LICENSE
Procfile
pytest.ini
runtime.txt
tests/
TODO.md
venv/
