version: "3.3"
services:
  alpha-web:
    build: ./
    container_name: alpha-web
    depends_on:
      - alpha-db
    entrypoint: ["make", "wait-for-db", "run-prod"]
    environment:
      DATABASE_URL: "postgresql://alpha:alpha@alpha-db:5432/alpha"
      PORT: 80
    image: alpha-web
    ports:
      - "8888:80"
  alpha-db:
    container_name: alpha-db
    environment:
      POSTGRES_USER: alpha
      POSTGRES_PASSWORD: alpha
      POSTGRES_DB: alpha
    image: postgres:13.3-alpine
    ports:
      - "5555:5432"
    restart: always
    volumes:
      - alpha-volume:/var/lib/postgresql/data
  alpha-dba:
    container_name: alpha-dba
    image: adminer
    restart: always
    ports:
      - 5556:8080
    volumes:
      - alpha-volume:/var/lib/postgresql/data
volumes:
  alpha-volume:
    name: alpha-volume
    driver: local
    driver_opts:
      type: tmpfs
      device: tmpfs
      o: size=100m
