include Makefile.variables.mk

RUN_WEB_SERVER_LOCAL := $(PYTHON) -c "NO LOCAL WEB SERVER CONFIGURED - see Makefile.my.mk"
RUN_WEB_SERVER_PROD := $(PYTHON) -c "NO PROD WEB SERVER CONFIGURED - see Makefile.my.mk"
