[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.9"

[dev-packages]
black = "==21.6b0"
coverage = { extras = ["toml"], version = "*" }
devtools = { extras = ["pygments"], version = "*" }
flake8 = "*"
flake8-builtins = "*"
httpie = "*"
ipython = "*"
isort = "*"
mypy = "*"
pudb = "*"
pylint = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-mock = "*"

[packages]
aiohttp = { extras = ["speedups"], version = "*" }
asyncpg = "*"
gunicorn = "*"
psycopg2-binary = "*"
pydantic = {extras = ["dotenv"], version = "*"}
python-dotenv = "*"
requests = "*"
sentry-sdk = "*"
toml = "*"
uvicorn = {extras = [ "standard",], version = "*"}
