[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==20.8b1"
httpie = "*"
ipython = "*"
isort = "*"
pudb = "*"
pytest = "*"
pytest-mock = "*"
pytest-selenium = "*"

[packages]
dynaconf = { extras = ["yaml"], version = "*" }
gunicorn = "*"

[requires]
python_version = "3.8"
