[tool.black]
line-length = 79
target-version = ["py38"]
exclude = """
(
  /(
      /.git
    | /.github
    | /.pytest_cache
    | /.run
    | /.tests_artifacts
    | /.venv
  )/
)
"""


[tool.isort]
force_single_line = true
line_length = 79
multi_line_output = 3
profile = "black"


[tool.pytest.ini_options]
console_output_style = "count"
filterwarnings = [
    "ignore::DeprecationWarning",
]
markers = [
    "functional",
    "webapp",
    "unit",
]
testpaths = [
    "src/framework/tests",
    "tests",
]
addopts = "--cov --no-cov-on-fail --cov-fail-under=0"


[tool.mypy]
check_untyped_defs = true
disallow_incomplete_defs = true
disallow_untyped_calls = true
disallow_untyped_defs = true
files = ["src", "tests",]
no_implicit_optional = true
pretty = true
python_version = "3.9"
show_error_context = true
sqlite_cache = true
warn_redundant_casts = true
warn_return_any = true
warn_unused_configs = true
warn_unused_ignores = true

[[tool.mypy.overrides]]
module = [
    "uvicorn",
]
ignore_missing_imports = true
