name: CI

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

env:
  DATABASE_URL: "postgres://ci:ci@localhost:5432/ci?sslmode=disable"
  PGPASSFILE: config/.pgpass
  POETRY_VIRTUALENVS_CREATE: false
  POETRY_VIRTUALENVS_IN_PROJECT: false
  PYTHONPATH: "src"
  TEST_SERVICE_URL: "http://localhost:8000"
  X: 4

jobs:
  build:
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        python-version: [ 3.10.5 ]
    runs-on: ${{ matrix.os }}
    outputs:
      runs-on: ${{ matrix.os }}
      python-location: ${{ env.pythonLocation }}
      python-version: ${{ matrix.python-version }}
      poetry: ${{ steps.poetry-hash.outputs.poetry-hash }}
    steps:
      - name: pull code from repo
        uses: actions/checkout@v2
      - name: set up runtime
        uses: actions/setup-python@v2
        with:
          architecture: 'x64'
          python-version: ${{ matrix.python-version }}
      - name: cache runtime
        id: cache-runtime
        uses: actions/cache@v2
        with:
          path: ${{ env.pythonLocation }}
          key: cache-runtime-${{ matrix.os }}-${{ env.pythonLocation }}-${{ hashFiles('poetry.lock') }}-${{ env.X }}
      - name: set poetry hash
        id: poetry-hash
        run: echo "::set-output name=poetry-hash::${{ hashFiles('poetry.lock') }}"
      - name: install poetry
        if: ${{ !steps.cache-runtime.outputs.cache-hit }}
        run: |
          pip install pipx
          pipx install poetry
      - name: install python packages
        if: ${{ !steps.cache-runtime.outputs.cache-hit }}
        run: |
          poetry export --dev --format=requirements.txt --output=requirements.txt --without-hashes
          pip install --requirement requirements.txt
      - name: healthcheck
        run: |
          poetry env info
          poetry env info --path
          which mypy
          python -c 'import pydantic; print(pydantic)'
  run-tests:
    needs:
      - build
    runs-on: ${{ needs.build.outputs.runs-on }}
    services:
      postgres:
        image: postgres
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-retries 5
          --health-timeout 5s
        env:
          POSTGRES_DB: ci
          POSTGRES_PASSWORD: ci
          POSTGRES_USER: ci
    steps:
      - name: pull code from repo
        uses: actions/checkout@v2
      - name: set up runtime
        uses: actions/setup-python@v2
        with:
          architecture: 'x64'
          python-version: ${{ needs.build.outputs.python-version }}
      - name: restore build from cache
        id: restore-build
        uses: actions/cache@v2
        with:
          path: ${{ needs.build.outputs.python-location }}
          key: cache-runtime-${{ needs.build.outputs.runs-on }}-${{ needs.build.outputs.python-location }}-${{ needs.build.outputs.poetry }}-${{ env.X }}
      - name: perform release steps
        if: ${{ steps.restore-build.outputs.cache-hit }}
        run: |
          chmod 0600 config/.pgpass
          make initdb release
      - name: run production web server
        if: ${{ steps.restore-build.outputs.cache-hit }}
        run: make run-prod &
      - name: run tests
        if: ${{ steps.restore-build.outputs.cache-hit }}
        run: make tests coverage
      - name: upload coverage to codecov.io
        uses: codecov/codecov-action@v2
        with:
          files: ./coverage.xml
          name: alpha
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true
  check-code-typing:
    needs:
      - build
    runs-on: ${{ needs.build.outputs.runs-on }}
    steps:
      - name: pull code from repo
        uses: actions/checkout@v2
      - name: set up runtime
        uses: actions/setup-python@v2
        with:
          architecture: 'x64'
          python-version: ${{ needs.build.outputs.python-version }}
      - name: restore build from cache
        id: restore-build
        uses: actions/cache@v2
        with:
          path: ${{ needs.build.outputs.python-location }}
          key: cache-runtime-${{ needs.build.outputs.runs-on }}-${{ needs.build.outputs.python-location }}-${{ needs.build.outputs.poetry }}-${{ env.X }}
      - name: check code typing
        if: ${{ steps.restore-build.outputs.cache-hit }}
        run: make code-typing
  check-code-format:
    needs:
      - build
    runs-on: ${{ needs.build.outputs.runs-on }}
    steps:
      - name: pull code from repo
        uses: actions/checkout@v2
      - name: set up runtime
        uses: actions/setup-python@v2
        with:
          architecture: 'x64'
          python-version: ${{ needs.build.outputs.python-version }}
      - name: restore build from cache
        id: restore-build
        uses: actions/cache@v2
        with:
          path: ${{ needs.build.outputs.python-location }}
          key: cache-runtime-${{ needs.build.outputs.runs-on }}-${{ needs.build.outputs.python-location }}-${{ needs.build.outputs.poetry }}-${{ env.X }}
      - name: check code format
        if: ${{ steps.restore-build.outputs.cache-hit }}
        run: make code-format
  run-code-linters:
    needs:
      - build
    runs-on: ${{ needs.build.outputs.runs-on }}
    steps:
      - name: pull code from repo
        uses: actions/checkout@v2
      - name: set up runtime
        uses: actions/setup-python@v2
        with:
          architecture: 'x64'
          python-version: ${{ needs.build.outputs.python-version }}
      - name: restore build from cache
        id: restore-build
        uses: actions/cache@v2
        with:
          path: ${{ needs.build.outputs.python-location }}
          key: cache-runtime-${{ needs.build.outputs.runs-on }}-${{ needs.build.outputs.python-location }}-${{ needs.build.outputs.poetry }}-${{ env.X }}
      - name: run code linters
        if: ${{ steps.restore-build.outputs.cache-hit }}
        run: make code-linters
